{% extends "base.html" %}
{% block content %}
<h1>List of Videos</h1>
<ul>
{% for video in videos %}
    <li>
        <strong>Name:</strong> {{ video[0] }}<br>
        <strong>Status:</strong> {{ video[1] }}<br>
        <strong>Result:</strong> {{ video[2] }}<br>
        {% if video[1] == 'completed' %}
            <video width="320" height="240" controls>
                <source src="{{ base_url }}{{ video[0] }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        {% endif %}
    </li>
{% endfor %}
</ul>
<script>
setInterval(() => location.reload(), 10000);
</script>
{% endblock %}
