{% extends "base.html" %}
{% block content %}
<h1>List of Videos</h1>
<ul>
{% for video in videos %}
    <li>
        <strong>Name:</strong> {{ video[0] }}<br>
        <strong>Status:</strong> {{ video[1] }}<br>
        <strong>Result:</strong> {{ video[2] }}<br>
        {% if video[1] == 'completed' %}
            <strong>Video Link:</strong> 
            <a href="{{ base_url }}{{ video[3] }}" target="_blank">
                {{ video[3] }}
            </a>
        {% endif %}
    </li>
{% endfor %}
</ul>
<script>
setInterval(() => location.reload(), 5000);
</script>
{% endblock %}
